:root {
  --primary-color: #DE7064;
  --dark-color: #2F2F2F;
  --footer-color: #2F2F2F80;
  --background-color: #E5E5E5;
}

html {
  font-size: 16px;
}

body {
  
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--dark-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  place-items: center;
  width: 100%;
  border-top: 10px solid var(--dark-color);
}

.App {
  text-align: center;
  max-width: 58rem;
  width: 100%;
  padding: 2rem;
  padding-bottom: 0;
}

@media (max-width: 560px) {
  
  #root {
    border-top: none;
    place-items: start;
    width: 100%;
  }

  .App {
    padding: 0;
  }

}